- name: Installation du service HTTPD | MariaDB | Php8.0
  hosts: all
  become: true
  tasks:
    - name: update
      dnf:
       name: "*"
       state: latest
       
    - name: Packages install
      dnf:
        name:
          - httpd
          - mariadb-server
          - php
          - php-mysqlnd
        state: latest
    - name: Modification PhpMyAdmin
        lineinfile:
          dest: /etc/httpd/conf.d/phpMyAdmin.conf
          regexp: '^Require local'
          line: 'Require ip 127.0.0.1 192.168.1.0/24'
        
    - name: Verification httpd service is running
      systemd:
        name: httpd
        state: restarted
        enabled: yes
        
    - name: permit traffic in default zone for http service
      ansible.posix.firewalld:
       service: http
       permanent: yes
       state: enabled
    
    - name: permit traffic in default zone for https service
      ansible.posix.firewalld:
       service: https
       permanent: yes
       state: enabled
    
    - name: Firewalld service restart
      systemd:
        name: firewalld
        state: restarted
        enabled: yes
    - name: Reboot
      reboot:
