- name: Installation du service HTTPD
  hosts: all
  become: true
  tasks:
    - name: packages install
      dnf:
        name:
          - httpd
          - mariadb-server
          - php
          - php-mysqlnd
        state: latest
        
    - name: Ensure httpd service is running
      systemd:
        name: httpd
        state: restarted
        enabled: yes
        
    - name: permit traffic in default zone for http service
      ansible.posix.firewalld:
       service: http
       permanent: yes
       state: enabled
    
    - name: permit traffic in default zone for https service
      ansible.posix.firewalld:
       service: https
       permanent: yes
       state: enabled
    
    - name: Firewalld service restart
      systemd:
        name: firewalld
        state: restarted
        enabled: yes
