- name: Installation du service HTTPD | MariaDB | Php8.0
  hosts: all
  become: true
  tasks:
    - name: update
      dnf:
       name: "*"
       state: latest
       
    - name: Packages install
      dnf:
        name:
          - httpd
          - mariadb-server
          - php
          - php-mysqlnd
          - phpMyAdmin
        state: latest
    
    - name: Modification PhpMyAdmin
      copy:
       src: phpMyAdmin.conf
       dest: /etc/httpd/conf.d/phpMyAdmin.conf 
    
    - name: Fichier index.php
      copy:
       src: index.php
       dest: /var/www/html/index.php
    
    - name: Verification httpd service is running
      systemd:
        name: httpd
        state: restarted
        enabled: yes
        
    - name: Start mariadb service
      systemd:
        name: mariadb
        state: started
        enabled: yes
        
    - name: Script Configuration Mysql
      copy:
       src: mysql_config.sh
       dest: /home/jenkins/mysql_config.sh
       mode: '0755'
       
    - name: Execute mysql_config.sh
      command: bash /home/jenkins/mysql_config.sh
        
    - name: permit traffic in default zone for http service
      ansible.posix.firewalld:
       service: http
       permanent: yes
       state: enabled
    
    - name: permit traffic in default zone for https service
      ansible.posix.firewalld:
       service: https
       permanent: yes
       state: enabled
    
    - name: Firewalld service restart
      systemd:
        name: firewalld
        state: restarted
        enabled: yes
    
    - name: Reboot
      reboot:
